@import url('https://fonts.googleapis.com/css2?family=Asul&display=swap');

body {
    font-family: 'Asul', sans-serif;;
    background-image: url('background.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.buttonStyle {
    height: 75px;
    text-align: center;
    padding: 25px 0;
}

.buttonStyle:active {
    background-color: red;
}

.containerBuffer {
    margin: 5px;
}

.almostFill {
    width: 90%;
}

.selectContainer {
    width: 90%;
}

.attackButton {
    height: 75px;
    text-align: center;
    padding: 25px 0;
    width: 96.7%;
}

.resultsArea {
    padding: 20px;
    text-align: center;
}


.resultsArea > * {
    padding: 20px 20px;
}

.resultsArea > p {
    font-size: xx-large;
}

.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
  }@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }