@import url('https://fonts.googleapis.com/css2?family=Asul&display=swap');

body {
    font-family: 'Asul', sans-serif;;
    /* background-image: url('background.webp'); */
    background-color: #6c757d;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.buttonStyle {
    height: 75px;
    text-align: center;
    padding: 25px 0;
    box-shadow: 5px 5px 1px -2px #8f8f9d;
}

.buttonStyle:active {
    background-color: red;
}

.containerBuffer {
    margin: 5px;
}

.almostFill {
    width: 90%;
}

.selectContainer {
    width: 90%;
    padding: 25px 0;
}

.attackButton {
    height: 75px;
    text-align: center;
    padding: 25px 0;
    margin-bottom: 55px;
    width: 96.7%;
    box-shadow: 5px 5px 5px -2px #ac1a15;
}

.resultsArea {
    /* padding: 20px; */
    height: 110px;
    margin-bottom: 50px;
    text-align: center;
}


/* .resultsArea > * {
    padding: 20px 20px;
} */

.resultsArea > p {
  font-size: xx-large;
}

/* .resultsArea > img {
  padding-bottom: 33px
} */

.hidden {
  display: none;
}

.imgSize {
  width: 50px;
  height: 50px;
}

.spin {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
